version: '3'
services:
  frontend:
    image: nginx:alpine
    ports:
      - "8090:80"
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./server/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  backend:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server/data:/app/data
